main {
  width: 70%;
}

aside {
  width: calc(50% - 6em);
}

section {
  width: calc(50% - 6em);
}

.estrutura {
  display: flex;
}

.empty {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-family: "MontSerrat";
}
